name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * SUN'

jobs:
  test_suite:
    name: Unit tests on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
    timeout-minutes: 45
    defaults:
      run:
        shell: bash -l {0}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: setup pyctdev
        run: python -m pip install pyctdev
      - name: install test deps
        run: doit develop_install -o cmd -o tests
      - name: doit test_flakes
        run: doit test_flakes
      - name: doit test_unit
        run: doit test_unit
      - name: doit test_cmd_examples
        run: doit test_cmd_examples
      - name: doit test_build_examples
        run: doit test_build_examples
